.nav {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    justify-content:space-evenly;
}

.itemContainer {
    border-bottom: 1px solid #a0a0a1;
}

.itemContainer a {
    width: 100%;
    color: #2c2c2c;
    text-decoration: none;
}

.itemContainer a:hover {
    color: #dc4615;
}

/*.item:focus{*/
/*    color: #dc4615;*/
/*}*/
/*.active {*/
/*    color: #ff2427;*/
/*    text-decoration: none;*/
/*}*/

.img {
    width: 50px;
    max-height: 50px;
    border-radius: 30px;
}