.header {
    background-color: #2c2c2c;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
.logoBox {
    display: flex;
    align-items: center;
    margin: 5px;
}

.logoBox img {
    height: 100%;
}
.logoBox h2 {
    color: #ffffff;
    font-family: cursive;
}

.loginBlock {
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: space-around;

}

.colors {
    background-color: #2c2c2c;
    color: #ffffff;
    color: #a0a0a1;
    color: #E76732FF;
    color: #e76732;
    color: #feb592;
    color: rgba(227, 227, 227, 0.43)

}
.colors:hover{
    background: #dc4615;
}
.colors:active {
    background: #b73a11;
}

