.header {
    grid-area: h;
    background-color: #2c2c2c;
    display: flex;
    justify-content: space-between;
}
.logoBox {
    display: flex;
    align-items: center;
    margin: 5px;
}

.logoBox img {
    height: 100%;
}

.logoBox h2 {
    color: #ffffff;
    font-family: cursive;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: black;
}