.appWrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: rgba(227, 227, 227, 0.43);
    align-content: flex-start;
    justify-content: center;
}

.appWrapperContent {
    display: flex;
    width: 1300px;
    margin: 30px;
    position: relative;
}